# IDE Settings
.vscode/settings.json
.vscode/sftp.json
.idea/.gitignore
.idea/deployment.xml
.idea/job_search.iml
.idea/jupyter-settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/sshConfigs.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml

# Environment and Dependencies
venv
.env
poetry.lock
pyproject.toml

# Credentials and Config
_production/config/config.json
_production/config/config_hidden.py
___credentials/main.ppk

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints
**/.ipynb_checkpoints/

TODO.md